@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --font-main: "Inter", sans-serif;
}

body {
  font-family: var(--font-main);
}
